@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif; 
    
  background-color:#181c1f;  
  background-repeat: no-repeat;
  background-size: cover;
}



.AppBar {
  background-color: #181c1f;
  border-bottom-width: 5px;
  border-color: grey;
}

a {
  color: inherit;
  text-decoration: none;
}


/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: lightgray;
}
.wallet-adapter-button{
  background-color: black;
  font-size: 1vw;
  display: flex;
}

.btn-square {
  background-color: white;
  border-color: gray;
}

.btn-square:hover {
  background-color: lightgray;

}

.inputfield {

  border-color: black;
  width: 70%;
  height: 40%;
}



.button1 {
  --text-base: 277deg, 55%, 40%;
  --text-hover: 307deg, 72%, 86%;
  --shadow-start: 52deg, 100%, 72%;
  --shadow-end: 0deg, 100%, 50%;
  --shadow-inner: 277deg, 90%, 62%;
  all: unset;
  color: white;
  font: sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  padding: 0.85em;
  max-width: 100%;
  min-height: 5vh;
  width: 20vw;
  background: inherit;
  background-clip: padding-box;
  border: 5px solid #d32a2a;
  border-radius: 1em;
  cursor: pointer;
  position: relative;
  transition: 0.25s ease-out;
}
.button1::before, .button1::after {
  content: "";
  border-radius: inherit;
  transition: inherit;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.button1::before {
  inset: -0.2em;
  z-index: -1;
  background: linear-gradient(hsla(var(--shadow-start), 1), hsla(var(--shadow-end), 1));
  filter: blur(1.2em) saturate(1.2);
  transform-origin: bottom;
  transform: scaleY(0.5);
  opacity: 0;
}
.button1::after {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 4px rgba(255, 255, 255, 0.7), 1px 1px 0 4px #fff;
  mix-blend-mode: overlay;
  opacity: 0;
}
.button1:hover, .button1:focus {
  color: hsla(var(--text-hover), 1);
  border-color: transparent;
  box-shadow: inset 0 1.4em 0 hsla(var(--shadow-inner), 0.1), inset 0 0 1.4em hsla(var(--shadow-inner), 0.32), 0 1px 1px hsla(var(--shadow-inner), 0.32);
}
.button1:hover::before, .button1:hover::after, .button1n:focus::before, .button1:focus::after {
  transform: none;
  opacity: 1;
}


@property --angle {
  syntax: '<angle>';
  inherits: true;
  initial-value: -10deg;
}

@keyframes scene-transition {
  to { --angle: 370deg; }
}

.scenes {
  position: relative;
  aspect-ratio: 1 / 1;
  border: 3px solid;
  border-image:  linear-gradient(to right, rgb(231, 170, 170), rgb(179, 44, 44)) 1;
  border-radius: 50px;
}

.scene-1, .scene-2 {
  position: absolute;
  inset: 0;
  background-size: cover;
}

.scene-1 {
  background-image: url(biker.png);
}

.scene-2 {
  background-image: url(demon.png);
  z-index: -1;
  -webkit-mask-image:
    conic-gradient(
      #fff 0deg,
      #fff calc(var(--angle) - 10deg),
      transparent calc(var(--angle) + 10deg),
      transparent 360deg
    ),
    conic-gradient(
      transparent 340deg,
      #fff 360deg
    );
}

.scenes:is(:hover, :focus) .scene-2 {
  z-index: 1;
  animation: scene-transition 2s linear forwards;
}

.scene-title {
  position: absolute;
  max-width: 45%;
  margin: min(40px, 4vw);
  font-size: 1.25em;
}

.scene-1 .scene-title {
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: left;
}

.scene-2 .scene-title {
  top: 0;
  left: 0;
  color: rgb(0, 0, 0);
  text-align: left;
}

/* everything else */

*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  width: min(1000px, 100%);
}

.intro {
  text-align: center;
}

.heading {
  margin: 0;
  font-size: 2.5em;
}

.heading::before, .heading::after {
  content: ' — ';
}

.nudge {
  margin: 0;
  color: #888;
  font-size: 1.25em;
}

.visualizer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.visualizer-frame-1, .visualizer-frame-2 {
  position: relative;
  width: min(150px, 25vw);
  aspect-ratio: 1 / 1;
  outline: 2px solid #ccc;
  background-color: #333;
  background-image:
    linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%),
    linear-gradient(45deg, #444 25%, transparent 25%, transparent 75%, #444 75%);
  background-size:
    16px 16px,
    16px 16px;
  background-position:
    0 0,
    8px 8px;
}

.visualizer-mask {
  position: absolute;
  inset: 0;
  box-shadow: inset 0 0 0 2px #111;
}

.scenes:is(:hover, :focus) + .visualizer .visualizer-frame-1 .visualizer-mask {
  background-image: conic-gradient(#fff 0deg, #fff calc(var(--angle) - 10deg), transparent calc(var(--angle) + 10deg), transparent 360deg);
  animation: scene-transition 2s linear forwards;
}

.scenes:is(:hover, :focus) + .visualizer .visualizer-frame-2 .visualizer-mask {
  background-image: conic-gradient(transparent 340deg, #fff 360deg);
}

.operator {
  display: grid;
  place-items: center;
  font-size: 1.25em;
}


.container {
  position: relative;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
}
.container .box {
  position: relative;
  width: 15vw;
  height: 15vw;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
  border-radius: 5px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,rgb(245, 110, 110),#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase; 
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}

.inputForm{
  padding: 20px;
  color: #444;
  text-align: center;
  justify-content: center;
  text-align: center;
  display:grid}

.imageGrid {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
.imageGrid:hover {
  background-color: #d32a2a;
  z-index: 12;
  transform: scale(1.1);
  aspect-ratio: 1 / 1;
  transition: all .3s ease;
}

.imageGrid img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}
.imageGrid span {
  display: block;
  text-align: center;
  color: #333;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiPaper-root {
  background-color: #181c1f;

}

.MuiTableCell-root{
  color: white;
}

